MYSQL_ROOT_PASSWORD=change-this-mysql-password
RUSTFS_ACCESS_KEY=knowledge-base
RUSTFS_SECRET_KEY=change-this-rustfs-secret
NEO4J_PASSWORD=change-this-neo4j-password
RABBITMQ_USERNAME=kb
RABBITMQ_PASSWORD=change-this-rabbitmq-password
FRONTEND_URL=http://localhost
QWEN_API_KEY=
DEEPSEEK_API_KEY=
